/* MEDIA QUERIES */
@media only screen and (min-width: 1400px) {
    body {
        display: flex;
        justify-content: center;
    }
    /* CONTAINER */
    .container {
        width: 1400px;
        grid-template-rows: 100px 190px 250px 250px 190px 100px;
    }
}

@media only screen and (max-width: 1100px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10vh 5vh 5vh 5vh 465px 5vh 5vh 5vh 10vh;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ad1    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             ".      ad2    ."
                             ".      .      ."
                             "footer footer footer";
    }
}

@media only screen and (max-width: 900px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 2.5% 95% 2.5%;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ad1    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             ".      ad2    ."
                             ".      .      ."
                             "footer footer footer";
    }
}

@media only screen and (max-width: 850px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: auto 5vh 5vh 5vh 965px 5vh 5vh 5vh 5vh;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ad1    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             ".      ad2    ."
                             ".      .      ."
                             "footer footer footer";
    }

    /* NAVBAR */
    nav {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: ". logo ." ". searchbar1 ." ". button1 ." ". searchbar2 ." ". button2 .";
        row-gap: 2.5vh;
    }

    .logo img {
        margin-top: 2.5vh;
        height: 75px;
    }

    .button2 button {
        margin-bottom: 2.5vh;
    }

    .button button {
        width: 50%;
    }

    /* MAIN */
    main {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "generalinfo1 csgoinfo1"
                             "generalinfo2 csgoinfo2";
    }

    .charttest {
        grid-area: 1 / 2 / 3 / 4;
        visibility: hidden;
        background-color: color(graylvl2);
        border-left: 2px solid color(graylvl2);
        border-right: 2px solid color(graylvl2);
        height: 100%;
        width: 100%;
    }

    .generalinfo img {
        margin-top: 40px;
    }

    .csgoinfo .text{
        width: 100%;
    }

    .csgoinfo1, .csgoinfo2 {
        border: none;
        padding-bottom: 20px;
    }

    .button3 {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 450px) {
    /* CONTAINER */
    .container {
        grid-template-rows: auto 5vh 5vh 5vh auto 5vh 5vh 5vh 5vh;
    }

    /* MAIN */
    main {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "generalinfo1"
                             "csgoinfo1"
                             "generalinfo2"
                             "csgoinfo2";
    }

    .charttest {
        grid-area: 2 / 1 / 3 / 2;
        visibility: hidden;
        background-color: color(graylvl2);
        border: none;
        height: 100%;
        width: 100%;
    }

    .generalinfo2 {
        border-top: 2px solid color(graylvl1);
    }

    .csgoinfo {

        .text {
            width: 184px;
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .csgoinfo1 {
        border-top: 2px solid color(graylvl1);
        margin-bottom: 20px;
    }

    .csgoinfo2 {
        margin-bottom: 20px;
        border-top: 2px solid color(graylvl1);
    }

    .button3 {
        padding-bottom: 10px;
    }

    .button4 {
        padding-bottom: 30px;
    }
}
