/*    CS:GO STATS STYLE   */
/*    by Velizar Stavrev  */

/* FONTS */
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Roboto-Regular;
    background-color: rgb(200, 200, 200);
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: 2.5% 72.5% 2.5% 20% 2.5%;
    grid-template-rows: 10vh 5vh 70vh 5vh 10vh;
    grid-template-areas: "nav    nav    nav    nav    nav"
                         ".      .      .      .      ."
                         ".      main   .      ads    ."
                         ".      .      .      .      ."
                         "footer footer footer footer footer";
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* NAVBAR */
nav {
    grid-area: nav;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: white;
    display: grid;
    grid-template-columns: 2.5%  10%     2.5% 27.5%        2.5% 10% 2.5% 27.5%      2.5% 10%     2.5%;
    grid-template-areas:   ".    button1 .    searchbar1 .    logo .     searchbar2 .    button2 .";
    justify-items: center;
    align-items: center;
}

.logo {
    grid-area: logo;
    align-self: center;
}

.logo img {
    width: 100%;
    height: 45px;
}

.searchbar1 {
    grid-area: searchbar1;
}

.searchbar2 {
    grid-area: searchbar2;
}

.searchbar {
    width: 100%;
}

.searchbar input {
    box-sizing: border-box;
    width: 100%;
    padding: 7.5px;
    background-color: rgb(100, 100, 100);
    border: 2px solid rgb(255, 100, 0);
}

.searchbar input:focus {
    background-color: rgb(150, 150, 150);
}

.button1 {
    grid-area: button1;
    width: 100%;
}

.button2 {
    grid-area: button2;
    width: 100%;
}

.button button {
    padding: 7.5px;
    width: 100%;
    color: rgb(255, 100, 0);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 150, 150);
    color: rgb(50, 50, 50);
}

/* MAIN */
main {
    grid-area: main;
    height: 100%;
    width: 100%;
    background-color: rgb(150, 150, 150);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: "generalinfo1 csgoinfo1 csgoinfo2 generalinfo2";
    justify-items: center;
    align-items: center;
}

.generalinfo1 {
    grid-area: generalinfo1;
}

.generalinfo2 {
    grid-area: generalinfo2;
}

.generalinfo {
    width: 100%;
    display: grid;
    justify-items: center;
    align-self: start;
    text-align: left;
}

.generalinfo img {
    height: 184px;
    width: 184px;
    margin-top: 30px;
    border: 2px solid rgb(50, 50, 50);
}

.generalinfo .text{
    width: 184px;
    padding-top: 20px;
}

.generalinfo p {
    width: 100%;
    margin: 0;
    padding-top: 10px;
}

.csgoinfo1 {
    grid-area: csgoinfo1;
    border-right: 2px solid rgb(50, 50, 50);
}

.csgoinfo2 {
    grid-area: csgoinfo2;
    border-left: 2px solid rgb(50, 50, 50);
}

.csgoinfo {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-self: start;
    text-align: left;
}

.csgoinfo .text{
    width: 184px;
}

h3 {
    width: 100%;
    border-bottom: 2px solid rgb(50, 50, 50);
    text-align: center;
    margin: 20px 0 5px;
}

.csgoinfo p {
    margin: 0;
    padding-top: 10px;
}

.button3 {
    padding-top: 40px;
    text-align: center;
}

.button3 a {
    width: 100%;
    padding: 7.5px 30px;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 100, 0);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 15px;
}

.button3 a:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
}

/* ADS */
.ads {
    grid-area: ads;
    height: 100%;
    width: 100%;
    background-color: rgb(150, 150, 150);
    display: grid;
    grid-template-rows: 47.5% 5% 47.5%;
    grid-template-areas: "ad1" "." "ad2";
    justify-items: center;
    align-items: center;
}

.ad1 {
    grid-area: ad1;
}

.ad2 {
    grid-area: ad2;
}

/* FOOTER */
footer {
    grid-area: footer;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 100, 0);
    display: grid;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10vh 5vh 5vh 5vh 60vh 5vh 10vh;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ads    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             "footer footer footer";
    }
}

@media only screen and (max-width: 900px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 2.5% 95% 2.5%;
        grid-template-rows: 10vh 5vh 5vh 5vh 60vh 5vh 10vh;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ads    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             "footer footer footer";
    }
}

@media only screen and (max-width: 850px) {
    /* CONTAINER */
    .container {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: auto 5vh auto 5vh auto 5vh 5vh;
        grid-template-areas: "nav    nav    nav"
                             ".      .      ."
                             ".      ads    ."
                             ".      .      ."
                             ".      main   ."
                             ".      .      ."
                             "footer footer footer";
    }

    /* NAVBAR */
    nav {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: ". logo ." ". searchbar1 ." ". button1 ." ". searchbar2 ." ". button2 .";
        row-gap: 2.5vh;
    }

    .logo img {
        margin-top: 2.5vh;
        height: 75px;
    }

    .button2 button {
        margin-bottom: 2.5vh;
    }

    .button button {
        width: 50%;
    }

    /* MAIN */
    main {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "generalinfo1 csgoinfo1"
                             "generalinfo2 csgoinfo2";
    }

    .generalinfo img {
        margin-top: 40px;
    }

    .csgoinfo .text{
        width: 100%;
    }

    .csgoinfo1, .csgoinfo2 {
        border: none;
        padding-bottom: 20px;
    }

    .button3 {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 450px) {
    /* MAIN */
    main {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "generalinfo1"
                             "csgoinfo1"
                             "generalinfo2"
                             "csgoinfo2";
    }


    .generalinfo2 {
        border-top: 2px solid rgb(50, 50, 50);
    }

    .csgoinfo .text {
        width: 184px;
    }

    .csgoinfo1 {
        border-top: 2px solid rgb(50, 50, 50);
        margin-bottom: 20px;
    }

    .csgoinfo h3 {
        margin-bottom: 20px;
    }

    .csgoinfo2 {
        margin-bottom: 20px;
        border-top: 2px solid rgb(50, 50, 50);
    }

    .button3 {
        padding-bottom: 30px;
    }
}
