/*    CS:GO STATS STYLE   */
/*    by Velizar Stavrev  */

/* FONTS */
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Roboto-Regular;
    background-color: rgb(200, 200, 200);
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: 2.5% 72.5% 2.5% 20% 2.5%;
    grid-template-rows: 10vh 5vh 70vh 5vh 10vh;
    grid-template-areas: "nav    nav    nav    nav    nav"
                         ".      .      .      .      ."
                         ".      main   .      ads    ."
                         ".      .      .      .      ."
                         "footer footer footer footer footer";
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* NAVBAR */
nav {
    grid-area: nav;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: white;
    display: grid;
    grid-template-columns: 2.5% 10% 5% 55% 5% 20% 2.5%;
    grid-template-areas: ". logo . searchbar . button .";
    justify-items: center;
    align-items: center;
}

.logo {
    grid-area: logo;
    align-self: center;
}

.logo img {
    width: 100%;
    height: 45px;
}

.searchbar {
    grid-area: searchbar;
    width: 100%;
}

.searchbar input {
    width: 100%;
    padding: 7.5px;
    background-color: rgb(100, 100, 100);
    border: 2px solid rgb(255, 100, 0);
}

.button {
    grid-area: button;
    width: 100%;
}

.button button {
    padding: 7.5px;
    width: 100%;
    color: rgb(255, 100, 0);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 150, 150);
    color: rgb(50, 50, 50);
}

/* MAIN */
main {
    grid-area: main;
    height: 100%;
    width: 100%;
    background-color: rgb(150, 150, 150);
}

/* ADS */
.ads {
    grid-area: ads;
    height: 100%;
    width: 100%;
    background-color: rgb(150, 150, 150);
    display: grid;
    grid-template-rows: 47.5% 5% 47.5%;
    grid-template-areas: "ad1" "." "ad2";
    justify-items: center;
    align-items: center;
}

.ad1 {
    grid-area: ad1;
}

.ad2 {
    grid-area: ad2;
}

/* FOOTER */
footer {
    grid-area: footer;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 100, 0);
    display: grid;
    justify-items: center;
    align-items: center;
}